.iplheading{
    font-size: 4rem;
    font-weight: 200;
    background-color: darkblue;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
    box-shadow: 2px 5px 2px gray;
    border-radius: 20px;
}
.imagetext{
    display: inline-block;
     font-size: 10px;
     text-align: center;
     border: solid 5px gray;
     padding: 10px;
     border-radius: 10px;
     filter: drop-shadow();
     text-shadow: 5px 5px 5px gray;
     }